<div>
    <h2>Login</h2>
    @using (Html.BeginForm("Signin", "Session", FormMethod.Post))
    {
        <div>
            <label>Email</label>
            <input type="text" name="Email" value="shuan" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="Password" value="ZAQ!2wsx" />
        </div>
        <button type="submit" id="submit">Go!</button>
    }
</div>


